h2{
    text-align: center;
}

.radio1{
    display: block;
    margin: 10px 0px 0px 550px;
}
.radio2{
    display: block;
    margin: 10px 0px 0px 550px;
}
.radio3{
    display: block;
    margin: 10px 0px 0px 550px;
}
.prev{
    display:inline-block;
    width: 130px;
    height: 40px;
    margin-top: 10px;
    margin-left: 450px;
}
.next{
    width: 130px;
    height: 40px;  
}

button{
    background-color: #4068C4;
}
button:hover{
    background-color: #6483C9;
}